################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/tests/__pycache__
/Datasources/Domoticz/Test/__pycache__
