################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
